@import "../../common/variables.scss";
$operationGropHeight: 36px;
$bodyPadding: 70px;
$selectBtnFz: 12px;

.wrap,
.contentWrap {
  background-color: $mainBg;
}
.wrap {
  height: 100%;
}
.contentWrap,
.operationGrop {
  padding: 0 $bodyPadding;
}
.operationGrop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  text-align: center;
  background-color: $opacityBg;

  .leftBtnGrop {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: $bodyPadding + 18px;
    margin-top: -($selectBtnFz/2);
  }

  .selectBtn {
    margin-right: 14px;
    line-height: 1;
    font-size: $selectBtnFz;
    color: $mainColor;

    &:hover,
    &:active {
      text-decoration: underline;
    }

    &:first-child {
      margin-left: 14px;
    }
  }

  .addHub {
    padding: 0 33px;
    height: $operationGropHeight;
    line-height: $operationGropHeight;
    background-color: $mainColor;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
  }
}
