$fontSize: 14px;
$fontColor: #757575;
$weightColor: #777;
$secondColor: #979797;
$secondActive: #000;

$mainBg: #F5F5F5;
$secondBg: #FFF;

$mainColor: #2196F3;

$paddingLeft: 70px;
$opacityBg: rgba(255, 255, 255, .7);
