
@import "../../common/variables.scss";

$thFontSize: 12px;
$thColor: #9E9E9E;
$tdHeight: 48px;

.table {
  width: 100%;
  display: table;
  box-sizing: border-box;
  color: $weightColor;
  line-height: 20px;
  @media screen and (max-width: 580px) {
    display: block;
  }
}

.cell {
  display: table-cell;
  // padding: 6px 12px;
  height: $tdHeight;
  line-height: $tdHeight;
  border-top: 8px solid $mainBg;

  @media screen and (max-width: 580px) {
    padding: 2px 16px;
    display: block;
  }

  &.operation {
    // background: #9c9;
    text-align: center;

    img {
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }
  }
}

.row {
  display: table-row;
  background: $secondBg;

  &.header {
    color: $thColor;
    font-size: $thFontSize;
    background: transparent;
    padding: 0;
    border-bottom: 1px solid #E0E0E0;

    .cell {
      height: auto;
      padding: 17px 0 15px;
      line-height: 15px;
      border-bottom: 1px solid #E0E0E0;
      border-top: none;
    }

    &+.row {
      .cell {
        border-top: 16px solid $mainBg;
      }
    }
  }

  @media screen and (max-width: 580px) {
    padding: 14px 0 7px;
    display: block;
  }
}
