@import "../../../common/variables.scss";

$thFontSize: 12px;
$thColor: #9E9E9E;
$tdHeight: 48px;

.cell {
  display: table-cell;
  // padding: 6px 12px;
  height: $tdHeight;
  line-height: $tdHeight;
  border-top: 8px solid $mainBg;

  &.selecte {
    // background: #9c9;
    width: 40px;
    text-align: center;
    img {
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding-right: 15px;
  }
}

.row {
  display: table-row;
  background: $secondBg;

  &.header {
    color: $thColor;
    font-size: $thFontSize;
    background: transparent;
    padding: 0;
    border-bottom: 1px solid #E0E0E0;

    &+.row {
      .cell {
        border-top: 16px solid $mainBg;
      }
    }
  }
}
